
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f4f4f4;
color:#333;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}
header{
background:#1d3557;
color:white;
padding:20px;
text-align:center;
}

nav{
margin-top:15px;

}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
transition: 0.3s ease-in-out;

}
nav a:hover{
    text-decoration: underline;
}

.hero{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),
url('/el/download\ \(2\).jpg') center/cover;
color:white;
}

.hero h2{
font-size:55px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:20px;
}

button{
padding:12px 25px;
border:none;
background:#457b9d;
color:white;
cursor:pointer;
border-radius:5px;
}

.search{
text-align:center;
padding:40px;
}

.search input{
padding:12px;
width:300px;
border-radius: 10px;
border-style: dashed;
}

.books{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);
text-align:center;
cursor: pointer;
transition: 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
}
.card img{
width:100%;
height:300px;
object-fit:scale-down;
border-radius:8px;

}


.card h3{
margin:15px 0 10px;
}

.fav{
margin-top:10px;
background:#e63946;
}
.fav:hover{
    background: #f17e878b;
    color: #e63946;
    text-decoration: underline;
}
.contact{
padding:60px;
display:flex;
justify-content:center;
}

form{
width:500px;
display:flex;
flex-direction:column;
gap:20px;

}

input,textarea{
padding:14px;
border-radius: 10px;
}

textarea{
height:150px;
resize:none;
}
.btn1{
    border-radius: 15px;
    
}
.btn1:hover{
    background: #f0f3f6b7;
    color:#457b9d;
    text-decoration: underline;
}
.btn:hover{background: #97b7d7b7;
    color:#457b9d;
    text-decoration: underline;}
footer{
background:#1d3557;
color:white;
text-align:center;
padding:20px;
}
.btn{
    border-radius: 20px;
}
@media(max-width:768px){

.hero h2{
font-size:38px;
}

.books{
grid-template-columns:1fr;
}

}
